* {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: monospace;
}

body {
    background-color: #444444;
    text-align: center;
}

input, button {
    color: #000;
}

.mainBody {
    position: absolute;
    left: calc(50vw - 250px);
    top: calc(50vh - 300px);
    width: 500px;
    background-color: #3b3b3b;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.section1 {
    width: 100%;
    text-align: left;
}

.section1 label {
    position: relative;
    font-size: 15px;
    color: #fff;
}

.inputBar {
    padding-top: 10px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.inputBar input {
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 80%;
    position: relative;
    height: 30px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    background-color: #c9c9c9;
}

.inputBar button {
    width: 20%;
    border: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #444444;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

.inputBar button:hover {
    background-color: #525252;
}

#result p {
    color: #fff;
    padding-bottom: 5px;
    font-size: 18px;
}

#thumbnail {
    max-width: 500px;
}

#info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.downloadBtn {
    position: relative;
    left: -25%;
    width: 50%;
    font-size: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

#file_format {
    position: relative;
    left: 45%;
    width: 20%;
    font-size: 20px;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    color: #fff;
    background-color: #444444;
    text-align: center;
    letter-spacing: 1px;
}

.form {
    width: 100%;
}